<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Get Movies Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movie title</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < moviesArray.length; i ++) {%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= moviesArray[i].title %></td>
        <td>
          <%= moviesArray[i].genre.name %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <button onclick='<%= clickHandler %>'>Click Me</button>
  <script>
    function onClick() {
      console.log("onClick clicked");
    }
  </script>
</body>

</html>